* {
	margin: 0;
	padding: 0;
}

@media all and (min-width: 768px) {
	body {
		background: linear-gradient(338deg, rgba(255,255,255,1) 0%, rgba(0,212,255,1) 63%, rgba(0,251,255,1) 100%);
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
		overflow: hidden;
	}

	.main {
		width: 400px;
		height: 450px;
		background-color: #f4f4f4;
		box-shadow: 15px 15px rgba(0, 0, 0, 0.5);
		display: flex;
		flex-direction: column;
        justify-content: center;
		align-items: center;
        font-family: Arial, Helvetica, sans-serif;
	}


    #btn {
        background-color: black;
        width: 300px;
        height: 100px;
        font-size: 1.4em;
        border: 3px lightgreen solid;
        border-radius: 20px;
        margin-top: 30px;
    }
    
    #btn:active {
        background-color: red;
        color: black;
    }

    #número {
        color: black;
        font-size: 4em;
    }
}

@media all and (max-width: 768px) {
	body {
		background: linear-gradient(338deg, rgba(255,255,255,1) 0%, rgba(0,212,255,1) 63%, rgba(0,251,255,1) 100%);
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
		overflow: hidden;
        font-family: Arial, Helvetica, sans-serif;
	}

	.main {
		width: 60vw;
		height: 30vh;
		background-color: #f4f4f4;
		box-shadow: 15px 15px rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
	}
    
    #número {
        position: absolute;
        color: black;
        font-size: 4em;
        top: 20px;
    }

    #btn {
        position: absolute;
        bottom: 30px;
        background-color: black;
        width: 45vw;
        height: 15vw;
        font-size: .9em;
        border: 2px lightgreen solid;
        border-radius: 20px;
    }

    #btn:active {
        background-color: red;
        color: black;
    }
}
