body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
    padding: 30px;
}

input {
    background-color: white;
    border: 1px black solid;
    height: 40px;
    margin: 10px 0;
    color: black;
    padding: 0 10px;
}

select {
    background-color: transparent;
    border: none;
    width: 50px;
    color:  black;
    font-size: 1.5rem;
    align-self: center;
}

input[type="submit"] {
    width: 100px;
    align-self: center;
}
