@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Ubuntu:wght@300;400&display=swap');

// Header
$header-font: "Poppins", sans-serif;
$header-description-font: "Roboto", sans-serif;
$header-dropdown-font: 'Ubuntu', sans-serif;
