// Background
$body-bg-color: rgb(15, 15, 15);
$card-bg-color: black;
$card-tag-active-bg-color: dodgerblue;
$card-shadow: rgba(255, 255, 255, 0.5);
$header-bg-color: transparent;

// Font
$card-font-color: white;
$card-header-font-color: dodgerblue;
$card-tag-active-font-color: white;

// Header
$header-links-font-color: white;
