@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$card-font-header: Arial, Helvetica, sans-serif;
$card-font-description: "Poppins", sans-serif;
$header-links: "Poppins", sans-serif;
