{% load static %} {% block header %}
<!-- Header -->
<header class="header">
  <picture>
    <img src="{% static 'IMG/logo.png' %}" alt="logo" class="header__logo" />
  </picture>

  <nav class="header__links">
    <a href="/" class="header__links__link">Home</a
    ><a href="/" class="header__links__link">Articles</a
    ><a href="/" class="header__links__link">Terms</a
    ><a href="/" class="header__links__link">About Us</a
    ><a href="/" class="header__links__link">Contacts</a>
  </nav>
</header>
{% endblock %}
