* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  overflow-x: hidden;
  position: relative;
}

.main {
  width: 100vw;
  height: 100vh;
  background: url('../image.jpg') no-repeat;
  background-size: cover;
  transition: 1s;
}

.menu-icon {
  position: absolute;
  top: 30px;
  left: 30px;
  background-color: white;
  padding: 10px;
  z-index: 4;
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.2);
}

.menu-icon .linha {
  background-color: black;
  width: 30px;
  height: 5px;
  margin: 5px;
}
