@use '../Abstracts/' as *;

.footer {
    background-color: $footer-color;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
   
    &__icons {
        display: flex;
        position: absolute;
        right: 50px;

        .icon {
            color: white;
            font-size: 2.5rem;
            margin: 0 30px;
        }
    }
}